<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Author" content="<?=config()->site->author?>" />
	<meta name="Description" content="<?=config()->site->description?>" />
	<meta name="Keywords" content="<?=config()->site->keywords?>" />
	<title><?=config()->site->title?></title>
	<link rel="stylesheet" href="/css/testing.css" type="text/css" />
</head>

<body>
	
	<? $menu_item = function($label, $link) use ($url) {
		if ($url=='/') $url = '/unit';
		$active = $url == "/{$link}"? ' class="Active"': '';
		return "<a href=\"/{$link}\"{$active}>{$label}</a>";
	} ?>

	<p class="Menu">
		<?=$menu_item('Unit Tests', 'unit')?>
		<?=$menu_item('Coverage', 'coverage')?>
		<?=$menu_item('Sync DB', 'db')?>
		<?=$menu_item('Auto Docs', 'docs')?>
	</p>

	<?=$content?>

</body>

</html>
<!-- <?=Core\Framework::Elapsed()?> -->