php_value error_reporting "8191"
php_value display_startup_errors "1"
php_value display_errors "1"

RewriteEngine On

# Trailing slash fix
RewriteCond	%{REQUEST_FILENAME} -d
RewriteRule	^(.+[^/])$	$1/ [L]

# Parse .css files as PHP
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} /css/.+\.css
RewriteRule ^(.*)$ css/index.php?URL=$1 [QSA,L]

# Parse .less files as LessCSS
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} /css/.+\.less
RewriteRule ^(.*)$ css/less.php?URL=$1 [QSA,L]

# Parse .js files as PHP
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} /js/.+\.js
RewriteRule ^(.*)$ js/index.php?URL=$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?URL=$1 [QSA,L] 