<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title><?=config()->site->title?></title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!--link rel="stylesheet" href="/css/site.css" type="text/css" /-->
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/admin.less" type="text/css" />
	
	<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>

	<div id="container">
		
		<? $nav = function($title, $url) {
			$active = URL_CURRENT == $url || strpos(URL_CURRENT, $url.'/') === 0;
			$class = $active? ' class="active"': '';
			return "<li{$class}><a href=\"".Site::AdminPrefix."{$url}\">{$title}</a></li>";
		} ?>

		<? if (!empty($_SESSION['admin'])): ?>
		
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="<?=Site::AdminPrefix?>/">OEM Admin</a>
					<div class="nav-collapse">
						<ul class="nav">
							<?=$nav('Set up the database', '/setup')?>
						</ul>
						<ul class="nav pull-right">
	   						<li><a href="/default/logout">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<? endif ?>

		<div class="container-fluid" id="main" role="main">
			<?=$content?>
		</div>
		
		<footer>
		
		</footer>
		
	</div>

</body>
</html>