<style type="text/css">

UL {
    list-style: none;
    margin: 0;
    padding: 0;
}

LI {
	font-weight:bold;
    background-image: url('<?=URL_ROOT?>/img/icons/folder.png');
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 20px;
	padding:.2em 0 .2em 20px;
	font-size:13px;
}
LI.Folder {
    background-image: url('<?=URL_ROOT?>/img/icons/folder_add.png');
}
LI.Attributes {
	font-size:12px;
    background-image: url('<?=URL_ROOT?>/img/icons/bullet_go.png');
	font-weight:normal;
}
LI.Attribute {
	font-size:12px;
	font-weight:normal;
    background-image: url('<?=URL_ROOT?>/img/icons/bullet_green.png');
}
LI.FilterAttribute {
	font-size:12px;
	font-weight:normal;
    background-image: url('<?=URL_ROOT?>/img/icons/bullet_key.png');
}


A {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

A:HOVER {
    text-decoration: underline;
}

</style>

<div id="categories">

<?
function attributes_list(\Core\XML $data, $label='Cechy') {

	$attributes = array();
	$parent = $data;
	
	foreach ($parent->attribute as $attribute) {
		array_unshift($attributes, $attribute);
	}
	/*
	while (($parent = $parent->parent()) && ($parent->getName() != 'root')) {
		foreach ($parent->attribute as $attribute) {
			array_unshift($attributes, $attribute);
		}
	}
	 * 
	 */
	
	if (empty($attributes)) return '';
	
	$out = "";// "<li class=\"Attributes\">{$label}<ul>";
	foreach ($attributes as $attribute) {
		$type = (string) $attribute['filter']? 'FilterAttribute': 'Attribute';
		$example = (string) $attribute['example']? " ({$attribute['example']})": '';
		if ((string)$attribute['type'] == 'Bool') $example = ' (tak/nie)';
		$out .= "<li class=\"{$type}\">{$attribute['title']}{$example}</li>\n";
	}
	$out .= "";//"</ul></li>";
	
	return $out;
}

function categories_list($data) {
	$out = '';
	
	foreach ($data->category as $category) {
		$subs = $category->category? categories_list($category): '';
		$attr = attributes_list($category);

		$tmp = ($attr || $subs)?
			"<ul>\n{$attr}\n{$subs}\n</ul>\n":
			'';

		$out .= "<li>{$category['title']}{$tmp}</li>\n";
	}
	
	return $out;
}

print "<ul class=\"Categories\">\n<li class=\"Attributes\">Cechy wspólne wszystkich produktów<ul>".attributes_list($data)."</ul></li>".categories_list($data)."</ul>\n";
?>

</div>


<br/><br/>
<p>Legenda:<br/>
<img src="/img/icons/folder.png"/> Kategoria produktów<br/>
<img src="/img/icons/bullet_green.png"/> Normalna cecha produktu<br/>
<img src="/img/icons/bullet_key.png"/> Cecha produktu z której będzie zrobiony filtr
</p>

	
<script type="text/javascript">

// Execute this after the site is loaded.
$(function() {
    // Find list items representing folders and
    // style them accordingly.  Also, turn them
    // into links that can expand/collapse the
    // tree leaf.
    $('LI > UL').each(function(i) {
        // Find this list's parent list item.
        var parent_li = $(this).parent('LI');

        // Style the list item as folder.
        parent_li.addClass('Folder');

        // Temporarily remove the list from the
        // parent list item, wrap the remaining
        // text in an anchor, then reattach it.
        var sub_ul = $(this).remove();
        parent_li.wrapInner('<A/>').find('A').click(function() {
            // Make the anchor toggle the leaf display.
            sub_ul.toggle();
        });
        parent_li.append(sub_ul);
    });

    // Hide all lists except the outermost.
    $('UL UL').hide();
});

</script>